async-timeout==5.0.1
certifi==2025.1.31
charset-normalizer==3.4.1
grpcio==1.71.0
grpcio-tools==1.71.0
idna==3.10
protobuf==5.29.4
python-dotenv==1.1.0
redis==5.2.1
requests==2.32.3
setuptools==79.0.0
urllib3==2.4.0
